body {
    font-family: "IBM Plex Sans",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navbar {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.554);
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
}

#author {
    font-weight: bold;
    font-size: x-large;
}

.profile-pic {
    width: 15em;
    height: 15em;
}

.profile-pic-div {
    margin-top: 6em !important;
}

.main-content {
    margin-top: 0.8em !important;
}

.helper {
    border: 1px solid red;
}

#name {
    font-weight: bold;
}

#experience {
    margin-top: 15px;
    font-size: 25px;
    color:rgba(0, 0, 0, 0.561);
}

#intro {
    color:rgba(0, 0, 0, 0.408);
    font-size: 20px;
    
}

.icons {
    margin-top: 3em !important;
    margin-bottom: 2em !important;
}

.icons a {
    color: rgba(49, 49, 105, 0.814);
    font-size: 18px;
    padding: 0 10px;
}

footer {
    width: 100%;
}

footer p {
    margin: 2em 0 1em 0;
}

/* ABOUT ME */
.title {
    margin-top: 1em;
}

.about-description {
    margin-top: 2em !important ;
}

.mate {
    margin-bottom: 1em;
}